.movie-details{
    padding: 3rem 6rem;
}
.movie-title{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #e1b516;
}
.watch-trailer{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 6rem;
}
.movie-info{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
    border-bottom: 6px solid #e1b516;
    border-top: 6px solid #e1b516;
    margin-bottom: 6rem;
}
.image-container{
    height: 80vh;
    width: 50vh;
    overflow: hidden;
    border: 3px solid #e1b516;
    background-color: #e1b516;
    border-radius: 4px;
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.movie-info-container{
    color: #e1b516;
    width: 30vw;
    border-left: 10px solid black;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subcontainer{
    display: flex;
    background-color: black;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}
.second-movie-title{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}
.movie-subTitle{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 50px;
}
.movie-other-container{
    padding: 10px;   
    color: #e1b516;
    text-align: center;
}
.movie-other{
    font-size: 1.5rem;
    font-weight: 500;
}
.clip-container{
    text-align: center;
    background-color: black;  
}
.movie-actions{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.button{
    all: unset;  
    text-decoration: none;
    background-color: #212529;
    border: 2px solid #212529;
    border-radius: 20px;
    padding: 5px 30px;
    color: #e1b516;
    font-weight: 700;
}
.button:hover{
    cursor: pointer;   
    background-color: #e1b516;
    color: black;
}
.create-review{
    width: 50%;
    margin: 0 auto;
    text-align: center;

}
.create-review .button{
    border: 1px solid white;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.addReview{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}
.formLabel{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #e1b516;
}
.reviews{
    list-style-type: none;
    margin: 30px auto;
    width: 50%;
}
.review{
    border: 1px solid #e1b516;
    color: #e1b516;
    background-color: black;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
}
.review-label{
    font-size: 1.5rem;
    font-weight: 500;
}
.review-content{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 30px;
}

@media (max-width:600px){
    .image-container{
        width: 100%;
    }
    .movie-details{
        padding: 3rem 0;
    }
    .movie-info{
        flex-direction: column;
        width: 100%;
    }
    .movie-info-container{
        border-left: none;
        border-bottom: 10px solid black;
        width: 100%;
        padding-bottom: 50px;
        padding-left: 0;
    }
}